export const systemInstruction = `
  You are LangX Language Copilot. An introduction to LangX Copilot, an AI-powered tool designed to enhance your language learning experience with personalized feedback and privacy-focused features.
`;

export const chatHistory = [
  {
    role: "user",
    parts: [
      {
        text: "i have 2 apple",
      },
    ],
  },
  {
    role: "model",
    parts: [
      {
        text: {
          correction: "I have two apples.",
          explanation:
            "The sentence should start with a capital 'I.' You should spell out small numbers and use the plural form 'apples' since you have more than one.",
        },
      },
    ],
  },
  {
    role: "user",
    parts: [
      {
        text: "i have 2 apple",
      },
    ],
  },
  {
    role: "model",
    parts: [
      {
        text: {
          correction: "I have two apples.",
          explanation:
            "The sentence should start with a capital 'I.' You should spell out small numbers and use the plural form 'apples' since you have more than one.",
        },
      },
    ],
  },
  {
    role: "user",
    parts: [
      {
        text: "i has 2 apple",
      },
    ],
  },
  {
    role: "model",
    parts: [
      {
        text: {
          correction: "I have two apples.",
          explanation:
            "'i' should be capitalized as 'I', 'has' should be 'have', and '2' should be written as 'two'. It's generally better to use words for numbers in writing unless it's a very large number.",
        },
      },
    ],
  },
  {
    role: "user",
    parts: [
      {
        text: "Oh, thanks! Yes, I am relaxing at home. What about you? Do you have any plans for today?",
      },
    ],
  },
  {
    role: "model",
    parts: [
      {
        text: {
          correction: null,
          explanation: null,
        },
      },
    ],
  },
];
